/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";

        col-gpios
            ;

        row-gpios
            = <&nice_nano_v2_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&nice_nano_v2_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};
