#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------
// |   F24   |
// |   MUTE  |
            bindings = <
    &kp F24
    &kp K_MUTE
            >;
        };
    };
};
