#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -----------
// |   F24   |
// |   Play/Pause  |
            bindings = <
    &kp C_PP
    &kp F24
            >;
        };
    };
};
